.navbar-container{
  display:flex;
  flex-direction: column;
  text-align: center;
}

.white-btn-shadow {
  box-shadow: 0px 1px 10px 0px #b0b4ec;
  color: darkgray;
  width: 300px;
  border-radius: 10px;
  display: flex;
  transition: .4s ease;
  font-size: 18px;
  background: white;
  text-align: center;
  justify-content: center;
  margin: auto;
  &:hover {
    background-color: darkgray;
    color: white;
  }
  a{
    color: black
  }
}
